/* formstyle.css */

/* Style for the Image Panel */
body{
    background-color: rgb(200, 208, 219);
}
#imgpanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0; /* No gap between images */
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  /* Style for each Image Div */
  #imgdiv {
    width: 150px;
    height: 150px;
    overflow: hidden; /* Ensure images don't overflow the container */
    border: 1px black solid;
    background-color: rgb(212, 229, 250);
  }
  
  /* Style for each Image */
  .imgclass {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  }
  #form{
    width: 90%;
    padding-top: 40px;
    padding-bottom: 30px;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 200, 247);
    border-radius: 5px;
  }
  #textbox{
    /* width: 200px; */
    width: 80%;
    height: 25px;
    margin: 5px;
    border-radius: 6px;
  }
  #submitbutton{
    margin: auto;
    width: 60px;
    height: 28px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;

    
  }
  #submitbutton:hover{
    background-color: rgb(168, 210, 247);
  }
#mix{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#formdiv{
    width: 30%;
    min-width: 300px;
    /* padding-top: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#paneldiv{
    width: 70%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
#imgcommon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#headline{
    /* margin: auto; */
    text-align: center;
}
#share{
    width: 120px;
    height: 30px;
    border-radius: 5px;

}
button{
    background-color: rgb(211, 228, 243);
}
button:hover{
    background-color: rgb(168, 210, 247);
}